@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black; /* Simulate the cursor */
  animation: typewriter 4s steps(40, end) forwards, blink-caret 0.75s step-end infinite;
  width: 0; /* Initial width for the typewriter effect */
  /* Responsive adjustments */
  max-width: 100%; /* Ensure the text container doesn’t exceed the parent width */
}

/* Adjust width for different screen sizes */
@media (max-width: 1024px) {
  .typewriter {
    animation: typewriter 3s steps(30, end) forwards, blink-caret 0.75s step-end infinite;
  }
}

@media (max-width: 768px) {
  .typewriter {
    animation: typewriter 2.5s steps(25, end) forwards, blink-caret 0.75s step-end infinite;
  }
}

@media (max-width: 480px) {
  .typewriter {
    animation: typewriter 2s steps(20, end) forwards, blink-caret 0.75s step-end infinite;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-text {
  background: linear-gradient(90deg, #dddddd, #e0e0e0, #f5f5f5, #4d4d4d);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient-animation 4s ease-in-out infinite;
}

